html {
    font-family: Arial, Helvetica, sans-serif;
}

main {
    width: 600px;
    margin-left: calc(50% - 300px);
    padding-left: 20px;
    border: 1px solid grey;
}

li:hover {
    color: red;
    cursor: pointer;
}

#todo-input {
    width: 200px;
    height: 30px;
    margin-bottom: 10px;
}

#add-todo {
    width: 80px;
    height: 30px;
    margin-bottom: 10px;
}